/*改变主题色变量 */
$--color-primary: #0086f1;
//rgb(255, 87, 87)
$--sidebar-width: 230px;
$--top-height: 50px;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";